body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button {
  cursor: pointer;
}
.footer {
  margin: 32px;
  text-align: right;
}
.button {
  padding: 8px 24px;
  font-size: 18px;
}
@-webkit-keyframes rainbow {
  0% {background-position: 0% 82%}
  50% {background-position: 100% 19%}
  100% {background-position: 0% 82%}
}
@-moz-keyframes rainbow {
  0% {background-position: 0% 82%}
  50% {background-position: 100% 19%}
  100% {background-position :0% 82%}
}
@-o-keyframes rainbow {
  0% {background-position: 0% 82%}
  50% {background-position: 100% 19%}
  100% {background-position: 0% 82%}
}
@keyframes rainbow { 
  0% {background-position: 0% 82%}
  50% {background-position: 100% 19%}
  100% {background-position: 0% 82%}
}
.button-outer { 
  -o-animation: rainbow 8s ease infinite;
  -webkit-animation: rainbow 8s ease infinite;
  -z-animation: rainbow 8s ease infinite;
  animation: rainbow 8s ease infinite;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 2000% 2000%;
  display: inline-block;
  padding: 1px;
}
.button-outer .button {
  background: white;
  border: 0;
}